#info {
  @include page-header;

  .studio {
    .fz-56 {
      font-size: 36px;

      @media (min-width: 700px) {
        font-size: 56px;
      }
    }
  }
}

#contact {
  input,
  textarea {
    &:not(.btn) {
      border: 1px solid #d8d8d8;
      font-size: 16px;
      padding: 5px;
      display: inline-block;
      font-family: $main-font;
      width: 100%;
    }
  }
}
