#work {
  @include page-header;

  .videos {
    @include work-layout;
  }
}

#video-player {
  .video-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.4);

    video {
      width: 80%;
      width: 80%;
    }
  }

  span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: color 300ms linear;

    &:hover { color: $accent; }
  }
}
