#directors
  %section.header.pt-5.pb-5
    .row
      .column.text-center
        %h1.heading.mb-2.copy-color Directors
        %h2.heading.mb-2= link_to 'Amara Untermeyer', director_path(director: 'amara_untermeyer'), class: 'white'
        %h2.heading.mb-2= link_to 'Bryan Schlam', director_path(director: 'bryan_schlam'), class: 'white'
        %h2.heading.mb-2= link_to 'Ronny Tibbs', director_path(director: 'ronny_tibbs'), class: 'white'
    .row.mt-2
      .column.text-center
        %h1.heading.mb-2.copy-color Executive Producer
        %h2.heading.mb-2= link_to 'Dan John Miller', director_path(director: 'dan_john_miller'), class: 'white'
